<div class="login">
    <div class="login__body">
        <form class="login__form" [formGroup]="loginForm" (ngSubmit)="loginHandler()">
            <app-login-control formControlName="login"></app-login-control>
            <div class="login__timeout">
                <span *ngIf="isSending | async" class="login__message--countdown"> до повторной попытки осталось: {{sendingTimeout | async}}</span>
            </div>
            <button mat-stroked-button class="login__button" color="primary" type="submit" [disabled]="checkIsSubmitDisabled()">Отправить</button>
        </form>
        <div class="login__username">
            <span >{{ userName?.login }}</span>
        </div>
    </div>
</div>
